# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build output
dist/

# Local environment variables secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
